*{
  margin: 0;
  padding: 0;
  border-radius: border-box;
}

body {
  overflow-x: hidden;
}

/* .hr-lines:before{
  content:" ";
  display: block;
  height: 4px;
  width: 130px;
  position: absolute;
  top: 150%;
  left: 0;
  background: #3FB9BB;
} */
